<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registrate en MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top">
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo Mercado Liebre">
            <div><input type="search" placeholder="Buscar productos, marcas">
                <button class="i-search"><i class="fas fa-search"></i></button>
            </div>
            <h2 class="text-header"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="main-navbar">
            <ul class="main-navbar-left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="main-navbar-right">
                <li><a href="/register">Crea tu cuenta</a> <i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a><br>
        </nav>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <form action="/" method="POST" id="login-form">
            <div>
                <label for="username">
                    Nombre de usuario: <input type="text" name="username" id="username" placeholder="Nombre de usuario"
                        title="Escribe tu username" required minlength="1">
                </label>
            </div>
            <div>
                <label for="password">
                    Contraseña: <input type="password" name="password" id="password" placeholder="Contraseña" required
                        maxlength="8">
                </label>
            </div>
            <button type="reset">Limpiar campos</button>
            <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="container">
            <div>
                <div class="icono"><i class="fas fa-credit-card"></i></div>
                <h3 class="subtitulo">Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre
                    seguro!</p>
            </div>
            <div>
                <div class="icono"><i class="fas fa-gift"></i></div>
                <h3 class="subtitulo">Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tienes envíos gratis en miles de productos. Es un
                    beneficio
                    de Mercado Puntos</p>
            </div>
            <div>
                <div class="icono"><i class="fas fa-user-shield"></i></div>
                <h3 class="subtitulo">Seguridad de principio a fin</h3>
                <p>¿No te gusta? !Devuélvelo¡ En Mercado Liebre, no hay nada que puedas hacer, porque siempre estas
                    protegid@
                </p>
            </div>
        </div>
        <div>
            <b>Copyright &copy; 1999-2021 MercadoLiebre S.R.L.</b>
        </div>
    </footer>

</body>

</html>